# Terraform files
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan
.crash
.terraform/
terraform.tfstate.backup
override.tf
override.tf.json
terraform.rc
.terraformrc

# Local .terraform directories
**/.terraform/*

# .terraform.lock.hcl file
.terraform.lock.hcl

# Crash log files
crash.log

# Local .tfvars files
*.tfvars

# Sensitive files (like AWS credentials)
credentials
*.pem
*.key
*.cer
*.csr